$font-primary: 'Poppins';
$font-secondary: 'Abril Fatface';
$default-gap: 20px;
$inner-gap: 10px;
$text: #090a09;
$background: #f7f8f6;
$primary: #82a572;
$secondary: #aecba0;
$accent: #91c27b;

html, body {
  margin: 0;
  background: $background;
}

.header {
  width: 100%;
  top: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: $text;
  font-family: $font-primary;

  .home-btns {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $inner-gap;

    .home .menu .order {
      position: relative;
    }
  }

  .perfect-loaf {
    position: relative;
    font-size: 20px;
    font-family: $font-secondary;
  }

  .home-icon-btns {
    align-self: stretch;
    width: 23px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $inner-gap;

    .akaricon {
      width: 24px;
      position: relative;
      max-height: 100%;
    }
  }
}

.section-one {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 113px;
  text-align: center;
  font-size: 24px;
  color: #759c63;
  font-family: $font-secondary;

  b{
    font-size: 128px;
  }

  .slices-freshly-baked-bread-gol-icon {
    width: 605px;
    height: 605px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    object-fit: cover;
    z-index: 2;
  }
}

.header-frame {
  width: 100%;
  height: 99px;
  position: absolute;
  margin: 0 !important;
  top: 655px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  box-sizing: border-box;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #759c63;
  font-family: $font-primary;

  .header-desc {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .freshly-baked-try {
      width: 447px;
      position: relative;
      display: inline-block;
      flex-shrink: 0;
    }
  }

  .header-btns {
    width: 490px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    text-align: center;
    color: $primary;

    .header-btn-tray {
      flex: 1;
      border-radius: 20px;
      border: 2px solid $secondary;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 19px 15px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: $secondary;
        color: $background;
      }
    }

    .header-btn-order {
      flex: 1;
      width: 100%;
      position: relative;
      border-radius: 20px;
      background-color: $primary;
      overflow: hidden;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 15px;
      box-sizing: border-box;
      text-align: center;
      font-size: 16px;
      color: $background;
      font-family: $font-primary;
      cursor: pointer;

      .order-now {
        position: relative;
      }
    }
  }
}

.section-two {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 180px;
  box-sizing: border-box;
  gap: 34px;
  text-align: left;
  font-size: 24px;
  color: $primary;
  font-family: $font-secondary;

  h3{
    font-size: 64px;
  }

  .menu-card {
    width: 100%;
    height: 694px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: start;
    align-content: start;
    column-gap: 34px;
    row-gap: 34px;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: $font-primary;

    article {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .card-image-icon {
        height: 232px;
        width: 232px;
        position: relative;
        object-fit: cover;
        flex-shrink: 0;
      }

      .card-frame {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 12px;
        width: 100%;
      }

      .card-texts {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .article-header {
          align-self: stretch;
          position: relative;
        }

        .article-body {
          align-self: stretch;
          position: relative;
          font-size: 16px;
          font-weight: 400;
        }

        .article-price {
          align-self: stretch;
          position: relative;
          font-size: 32px;
          font-weight: 300;
        }
      }

      .card-frame-buttons {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        width: 100%;

        .card-items {
          position: relative;
          overflow: hidden;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 19px;
          text-align: left;
          font-size: 20px;
          color: #000;
          font-family: $font-primary;

          .akar-iconsplus,
          .akar-iconsminus {
            width: 24px;
            position: relative;
            max-height: 100%;
          }

          .quantity-button {
            background: none;
            border: none;
            cursor: pointer;
          }
        }

        .card-tray-button {
          height: 39px;
          position: relative;
          border-radius: 20px;
          border: 2px solid $secondary;
          box-sizing: border-box;
          overflow: hidden;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px 15px;
          text-align: center;
          font-size: 16px;
          color: #8bbf73;
          font-family: $font-primary;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background-color: $secondary;
            color: $background;
          }
        }
      }
    }
  }
}

.section-three {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0 180px 100px 180px;
  box-sizing: border-box;
  gap: 38px;
  text-align: center;
  align-items: center;
  font-size: 24px;
  color: #000;

  h3 {
    color: $primary;
    font-size: 64px;
  }

  .checkout-frame {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 152px;

    fieldset{
      border: 0;
    }
    .baked-goods-frame {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 34px;
      text-align: left;
      font-size: 24px;
      color: $text;
      font-family: $font-primary;

      .baked-goods-items-parent {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
        text-align: left;
        font-size: 20px;
        color: $text;
        font-family: $font-primary;

        .baked-goods-items {
          display: flex;
          align-items: center;
          gap: 36px;

          .baked-goods-items-btn {
            position: relative;
            border-radius: 34px;
            background-color: $secondary;
            border: 11px solid $secondary;
            box-sizing: border-box;
            overflow: hidden;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 19px;
            text-align: left;
            font-size: 20px;
            color: $text;
          }

          .quantity-button {
            background: none;
            border: none;
            cursor: pointer;
          }

          .akar-iconsplus {
            width: 24px;
            position: relative;
            max-height: 100%;
          }

          .div {
            position: relative;
          }
        }
      }
    }

    .sides-and-options {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 34px;
      text-align: left;
      font-size: 24px;
      color: $text;
      font-family: $font-primary;

      [type="checkbox"] {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;

        + label {
          position: relative;
          cursor: pointer;
          display: flex;
          gap: 16px;
          font-weight: 300;

          &::before {
            content: '';
            display: block;
            height: 35px;
            width: 35px;
            border-radius: 10px;
            border: 2px solid $primary;
            box-sizing: border-box;
            transition: all 0.2s ease;
          }
        }

        &:checked {
          + label::before {
            background-color: $primary;
            border-color: $primary;
          }
        }
      }
    }
  }

  .special-instructions-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    width: 100%;

    label {
      font-family: $font-primary;
      font-size: 24px;
      font-weight: 600;
      color: $text;
    }

    textarea {
      width: 95%;
      font-family: $font-primary;
      border: 2px solid #759c63;
      border-radius: 20px;
      padding: 15px;
    }
  }

  .checkout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    padding: 19px 15px;
    background-color: $primary;
    font-family: $font-primary;
    color: $background;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background: $secondary;
    }
  }
}

footer {
  width: 100%;
  height: 175px;
  position: relative;
  background-color: $primary;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 31px 504px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: $background;
  font-family: $font-primary;
}

.perfect-loaf-all-container {
  position: relative;
  font-weight: 300;
}

.perfect-loaf-all {
  margin: 0;
}